.section-colored-orange {
  background-color: #f8903a; /* change this to change the background color of a colored section */
}


.orange-text {
	color: #ec6f09; !important
}
.white-text {
		color: #ffffff; !important
}

.gradient {
	background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 99%));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 99%);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 90%, rgba(200, 200, 200, 1) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}