/*-- Bootstrap Overload
================================================== */
.navbar-inverse li a {
	font-size: 12pt;
}

.navbar-toggle {
  margin-top: 20px;
}

.navbar a {
	font-weight: normal;
}

.navbar a:hover {
	font-weight: normal;
}

.btn-primary {
  color: #ffffff;
  background-color: #f8903a;
  border-color: #f8bf96;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #f8bf96;
  border-color: #ffffff;
}

@media (max-width: 991px) {
	.col-padding-between {
		padding-top: 25px;
		padding-between: 25px;
	}
	footer {
		margin: 20px 0;
	}
	footer .copyright-col {
		padding-bottom: 20px;
	}
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 55px;
	}
}

@media (min-width: 992px) {
	footer {
		margin-top: 30px;
		margin-bottom: 15px;
	}
	footer .copyright {
		position: absolute;
		margin-top: 10px;
	}
}

.page-header {
	border-color: #f8903a;
}

a {
	color: #f8903a;
	font-weight: bold;
}

a:hover {
	color: #d56000;
	font-weight: bold;
}

.btn-link {
	color: #f8903a;
	font-weight: bold;
}

.btn-link:hover {
	color: #d56000;
	font-weight: bold;
}


/*-- Positive Paws Custom Styles
================================================== */
.section-colored-orange {
  background-color: #f8903a;
}
.section-colored-darkorange {
	background-color: #d56000;
}
.section-colored-darkorange .quotes small {
	margin-top: 15px;
	color: #555555;
}

.orange-text {
	color: #ec6f09; !important
}
.red-text {
	color: red; !important
}
.white-text {
	color: #ffffff; !important
}

.hr-gradient {
  background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 99%));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 99%);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 90%, rgba(200, 200, 200, 1) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.quotes blockquote {
	font-size: 33px;
	line-height: 45px;
	margin-bottom: 0;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	padding-left: 0;
	border: none;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	letter-spacing: 0.1em;
}

.social-icon {
	width: 40px;
	margin-left: 5px;
	margin-right: 5px;
}

.panel .panel-body .price-month {
	margin-left: 10px;
}
.panel .panel-body .service-desc {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 25px;
	text-align: left;
}
.panel .panel-body .service-desc li {
	padding-top: 5px;
	padding-bottom: 5px;
}
.panel .price-chart .price-original,
.panel .price-chart .price-discount,
.panel .price-chart .price-discount-off{
	font-weight: bold;
}
.panel .price-chart .price-original {
	text-decoration: line-through;
}
.panel .price-chart .price-discount,
.panel .price-chart .price-discount-off {
	color: red;
}
.panel .price-chart .price-discount-off {
	font-size: 9pt;
	padding-left: 10px;
}